body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 60px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#addBtn {
  padding: 10px 20px;
  border: none;
  background: #51b107;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#addBtn:hover {
  background: #0056b3;
}

#taskList {
  margin-top: 20px;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9e9e9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
  color: #777;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

